*{
    font-family: 'Muli' sans-serif;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .main_box{
    position: relative;
    /* background: url('side.jpeg') right no-repeat; */
    
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  .main_box .sidebar_menu{
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -280px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    transition: all 0.3s linear;
  }
  .sidebar_menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
  }
  .sidebar_menu .logo a{
    /* color: #fff; */
    color: whitesmoke;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
    text-decoration: none;
  }
  .sidebar_menu .menu{
    position: absolute;
    top: 80px;
    width:100%;
  }
  .sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
  }
  .sidebar_menu .menu i{
    /* color: #fff; */
    color: whitesmoke;
    font-size: 20px;
    padding-right: 8px;
  }
  .sidebar_menu .menu a{
    /* color: #fff; */
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
  }
  .sidebar_menu .menu li:hover{
    border-left: 1px solid whitesmoke;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  }
  .sidebar_menu .social_media{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    list-style: none;
    cursor: pointer;
  }
  .sidebar_menu .social_media i{
    text-decoration: none;
    padding: 0 5px;
    /* color: #fff; */
    color: whitesmoke;
    opacity: 0.6;
    font-size: 20px;
  }
  .sidebar_menu .social_media i:hover{
    opacity: 1;
    transition: all 0.2s linear;
    transform: scale(1.01);
  }
  #check{
    display: none;
  }
  .main_box .btn_one i{
    /* color: #fff; */
    color: whitesmoke;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;  
  }
   .sidebar_menu .btn_two i{
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;
  }
  .btn_one i:hover{
    font-size: 29px;
  }
  .btn_two i:hover{
    font-size: 24px;
  }
  #check:checked ~ .sidebar_menu{
    left: 0;
  }
  #check:checked ~ .btn_one i{
    opacity: 0;
  }
  #check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
  }
  
  .videobg{
    position: absolute;
    right: 0;
   bottom: 0;
  
  }
  
  
  .overlay{
            margin-left: 350px;
            margin-top: 10px;
            /* do not remove this code till z-index */
            /* mix-blend-mode: overlay; */
            position:absolute;
            top:0;
            left:0;
            z-index:1;
            display: flex;
            justify-content: space-evenly;
  
  }
  
  header{
      width: 100%;
      height: 100vh;
      
  }
  
  
  header .navbar{
      width: 100%;
      height: 100px;
      display: flex;
      text-align: center;
      justify-content: space-around;
      color:whitesmoke;
      padding-top: 20px;
      padding-left: 180px;
  }
  
  
  header .navbar .menu a{
      text-decoration: none; 
      color:paleturquoise;
      padding: 10px 20px;
      font-size: 25px;
      font-weight: 20px;
  }
  header .navbar .menu a:hover{
      color:black;
      border-bottom: 5px solid black;
  }
  
  .p1{
    margin-top: 280px;
    margin-left: 200px;
    color: whitesmoke;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Muli' sans-serif;
    
  }
  
  .p2{
   font-size: 50px;
    /* margin-top: 120px; */
    margin-left: 100px;
    color: whitesmoke;
    font-weight: bold;
    
  }
  .p3{
    font-size: 50px;
    margin-left: 220px;
    color: whitesmoke;
    font-weight: bold;
  }
  .welcome{
    
    text-shadow: -1px 0 5px aqua, 0 0 5px black;
  }
  
  .about-overlay{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    margin-top: 800px;
  }
  
  .card1{
    border: 3px solid black;
    height: 370px;
    width: 400px;
    margin-left: 80px;
    margin-top: 30px;
    background-image: url("../images/about_2.jpeg");
    background-position: center;
    background-size: cover;
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(80%);
    /* box-shadow: 0 -1px 5px 5px transparent;
     */
  }
  .card1:hover {
    filter: brightness(100%);
    transform: scale(1.15);
  }
  .contact-overlay{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    margin-top: 1300px;
  }
  .main_card{
    display: flex;
    flex-direction: row;
    /* margin-top: 20px; */
  }
  .card1{
    /* border: 2px solid green; */
    width: 550px;
    height: 420px;
    margin-left: 50px;
    margin-top: 80px;
  }
  .card2{
    /* border: 3px solid rgb(11, 11, 11); */
    margin-left: 50px;
    width: 850px;
    height: 500px;
    margin-top: 30px;
  
  }
  .about-para{
    margin-top: 40px;
   padding: 20px;
    font-size: 20px;
    font-family: 'Muli' sans-serif;
    line-height: 1.5;
  }
  
  
  
  
  *{
    font-family: 'Muli' sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
  
  }
  
  .contact-container{
    /* width: 100%;
      height: 100vh;
      display: flex; */
      flex-direction: column;
      color: #fff;
      justify-content: center;
     
    /* max-width: 960px; */
    margin-left: 20px;
    width: 165%;
    display: grid;
    grid-template-columns: repeat(2,3fr);
    gap: 1.5rem ;
    background: black;
    box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .form-container{
    
    margin-left: 100px;
    padding: 20px;
  }
  .form-container h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .contact-form{
    display: grid;
    row-gap: 1rem ;
  }
  .contact-form input,.contact-form textarea{
    width: 100%;
    border: none;
    outline: none;
    background: #ffffff;
    padding: 10px;
    font-size: 1rem;
    color: black;
    border-radius: 0.4rem;
  }
  .contact-form textarea{
    resize: none;
    height: 200px;
  }
  .contact-form .send-button{
    border: none;
    outline: none;
    background: white;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
  }
  .contact-form .send-button:hover{
    background: aqua;
    transition: 0.3s hsla(0 0 0 / 16%);
  }
  .map iframe{
    
    width: 100%;
    height: 100%;
  }
  
  
  
  
  .container3{
      max-width: 1170px;
      margin: auto;
  
  }
  .row{
      display: flex;
      flex-wrap: wrap;
  }
  
  ul{
      list-style: none;
  }
  
  
  
  
  .footer{
    background-color: black;
    padding: 70px 0px;
  
  }
  
  
  .footer-col{
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4{
    font-size: 18px;
    color: whitesmoke;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: whitesmoke;
    height: 2px;
    box-sizing: border-box;
    width: 70px;
  }
  
  
  
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color:whitesmoke;
    display: block;
    transition: all 0.3s ease;
  }
  
  
  .footer-col ul li a:hover{
    color: aqua;
    padding-left: 10px;
  }
  
  
  
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:  whitesmoke;
  }
  
  
  .footer-col .social-links a:hover{
    color: whitesmoke;
    background-color: aqua;
  }
  
  
  @media (max-width:767px) {
    .footer-col{
        width: 50%;
        padding: 0 15pxs;
        margin-bottom: 30px;
    }
    
  }
  
  @media (max-width:964px) {
    .contact-container{
        margin: 0 auto;
        width: 90%;
    }
  @media (max-width:700px){
    .contact-container{
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 20rem !important;
    }
    .map iframe{
        height: 400px;
    }
  }
    
  }
  
  
  
  @media (min-aspect-ratio:16/9){
    .videobg{
        width: 100%;
        height: auto;
    }
  }
  
  @media (max-aspect-ratio:16/9){
    .videobg{
        width: auto;
        height: 100%;
    }
  }
  
  
  
  
  